.SideBar {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: transparent;
  background-color: black;
  height: 95vh;
}
.SideBar > button {
  padding: 10px;
  margin: 5px;
  border: none;
  background: transparent;
  color: white;
}
